:root {
    --primary-0: #000000;
    --primary-10: #410002;
    --primary-20: #690004;
    --primary-25: #7e0007;
    --primary-30: #93000a;
    --primary-35: #a9000d;
    --primary-40: #be0c14;
    --primary-50: #e32e2a;
    --primary-60: #ff5449;
    --primary-70: #ff897d;
    --primary-80: #ffb4ab;
    --primary-90: #ffdad5;
    --primary-95: #ffedea;
    --primary-98: #fff8f7;
    --primary-99: #fffbff;
    --primary-100: #ffffff;

    --secondary-0: #000000;
    --secondary-10: #400009;
    --secondary-20: #660516;
    --secondary-25: #761420;
    --secondary-30: #86202a;
    --secondary-35: #952c34;
    --secondary-40: #a6383f;
    --secondary-50: #c65056;
    --secondary-60: #e7696e;
    --secondary-70: #ff888b;
    --secondary-80: #ffb3b3;
    --secondary-90: #ffdad9;
    --secondary-95: #ffedec;
    --secondary-98: #fff8f7;
    --secondary-99: #fffbff;
    --secondary-100: #ffffff;

    --tertiary-0: #000000;
    --tertiary-10: #370e00;
    --tertiary-20: #5a1c00;
    --tertiary-25: #6c2300;
    --tertiary-30: #7f2b00;
    --tertiary-35: #933300;
    --tertiary-40: #a73b00;
    --tertiary-50: #ca5015;
    --tertiary-60: #ec692e;
    --tertiary-70: #ff8c5d;
    --tertiary-80: #ffb599;
    --tertiary-90: #ffdbce;
    --tertiary-95: #ffede7;
    --tertiary-98: #fff8f6;
    --tertiary-99: #fffbff;
    --tertiary-100: #ffffff;

    --neutral-0: #000000;
    --neutral-10: #281715;
    --neutral-20: #3f2c29;
    --neutral-25: #4b3634;
    --neutral-30: #57423f;
    --neutral-35: #644d4a;
    --neutral-40: #705956;
    --neutral-50: #8a716e;
    --neutral-60: #a68a87;
    --neutral-70: #c1a5a1;
    --neutral-80: #dec0bc;
    --neutral-90: #fbdbd7;
    --neutral-95: #ffedea;
    --neutral-98: #fff8f7;
    --neutral-99: #fffbff;
    --neutral-100: #ffffff;
    --neutral-4: #190a08;
    --neutral-6: #1f0f0d;
    --neutral-12: #2c1b19;
    --neutral-17: #382523;
    --neutral-22: #44302d;
    --neutral-24: #483432;
    --neutral-87: #f2d3cf;
    --neutral-92: #ffe2de;
    --neutral-94: #ffe9e6;
    --neutral-96: #fff0ee;

    --neutral-variant-0: #000000;
    --neutral-variant-10: #2c1513;
    --neutral-variant-20: #432a27;
    --neutral-variant-25: #503431;
    --neutral-variant-30: #5c403c;
    --neutral-variant-35: #694b47;
    --neutral-variant-40: #765753;
    --neutral-variant-50: #916f6b;
    --neutral-variant-60: #ac8884;
    --neutral-variant-70: #c9a29e;
    --neutral-variant-80: #e6bdb8;
    --neutral-variant-90: #ffdad5;
    --neutral-variant-95: #ffedea;
    --neutral-variant-98: #fff8f7;
    --neutral-variant-99: #fffbff;
    --neutral-variant-100: #ffffff;

    --error-0: #000000;
    --error-10: #410002;
    --error-20: #690005;
    --error-25: #7e0007;
    --error-30: #93000a;
    --error-35: #a80710;
    --error-40: #ba1a1a;
    --error-50: #de3730;
    --error-60: #ff5449;
    --error-70: #ff897d;
    --error-80: #ffb4ab;
    --error-90: #ffdad6;
    --error-95: #ffedea;
    --error-98: #fff8f7;
    --error-99: #fffbff;
    --error-100: #ffffff;

    --dark-surface: #121212;
    --dark-surface-1: #1d1d1d;
    --dark-surface-2: #282828;
    --dark-surface-3: #323232;
    --dark-surface-4: #3b3b3b;
}