.uploadProfileImgClose {
    color: var(--primary-color);
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}

.uploadProfileImgContainer {
    background-color: var(--background-color);
    color: var(--on-primary-color);
    padding: 1.8rem;
    padding-top: 0.5rem;
    border-radius: 0.3125rem;
    max-width: 69vh;
    margin: 0 auto;
    box-sizing: border-box;
    line-height: 1.5;
    font-weight: 500;
}

.uploadProfileImgSubmit {
    display: flex;

    .uploadProfileImgSpinner {
        left: -50%;
    }
}

.uploadProfileImgForm {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
